<div class="columns">
    <div class="column is-full">

        <h2 class="title is-3">Basket</h2>
        <hr>
        <table class="table is-bordered is-fullwidth">
            <thead>
                <th class="has-text-centered">Qty</th>
                <th>Item</th>
                <th class="has-text-right">Price</th>
                <th class="has-text-right">Total</th>
            </thead>
            <tbody>
                <tr *ngFor="let item of basket" class="item">
                    <td class="has-text-centered">
                        <strong> {{ item.quantity }} </strong>
                    </td>
                    <td>
                        {{ item.name }} <span *ngIf="item.variant">({{ item.variant }})</span>
                    </td>
                    <td class="has-text-right">{{ item.price | currency: 'GBP' }}</td>
                    <td class="has-text-right">{{ item.quantity * item.price | currency: 'GBP' }}</td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3" class="has-text-right"><strong>Total</strong></td>
                    <td class="has-text-right"><strong>{{ basketTotal | currency: 'GBP' }}</strong></td>
                </tr>
            </tfoot>
        </table>

        <p class="has-text-right"><a class="button is-primary" [routerLink]="['/payment']">Checkout</a></p>

    </div>
</div>
