.basket {
    border: solid 1px #ccc;
    border-collapse: collapse;

    th,
    td {
        padding: 10px;
        text-align: left;
    }

    th {
        border-bottom: solid 1px #ccc;
        background-color: #eee;
    }

    tfoot {
        background-color: #eee;
    }

    .item {
        border-bottom: solid 1px #eee;
    }

    .total,
    .currency {
        text-align: right;
        font-weight: bold;
    }

    .center {
        text-align: center;
    }
}
