<h2>Your Basket</h2>

<table class="basket">
    <thead>
        <th>Qty</th>
        <th>Item</th>
        <th>Price</th>
        <th>Total</th>
    </thead>
    <tbody>
        <tr *ngFor="let item of basket" class="item">
            <td class="currency center">
                <strong> {{ item.quantity }} </strong>
            </td>
            <td>
                {{ item.name }} <span *ngIf="item.variant">({{ item.variant }})</span>
            </td>
            <td>{{ item.price | currency: 'GBP' }}</td>
            <td class="currency">{{ item.quantity * item.price | currency: 'GBP' }}</td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3" class="total">Total</td>
            <td class="currency">{{ basketTotal | currency: 'GBP' }}</td>
        </tr>
    </tfoot>
</table>

<p><a class="button primary" [routerLink]="['/payment']">Checkout</a></p>
