<form #paymentForm="ngForm" (ngSubmit)="onSubmit()">

    <h2 class="title is-3">Checkout</h2>
    <hr>
    <div class="columns">
        <div class="column is-half">

            <h3 class="title is-4">Card Details</h3>

            <div class="field">
                <label class="label" for="cardNumber">Card Holder Name</label>
                <div class="control">
                    <input class="input" type="text" id="cardHolderName" name="cardHolderName" [(ngModel)]="payment.cardHolderName" required />
                </div>
            </div>

            <div class="field">
                <label class="label" for="cardNumber">Card Number</label>
                <div class="control">
                    <input class="input" type="text" id="cardNumber" name="cardNumber" [(ngModel)]="payment.cardNumber" required />
                </div>
            </div>

            <div class="field">
                <label class="label" for="cvc">CVC</label>
                <div class="control">
                    <input class="input" type="text" id="cvc" name="cvc" [(ngModel)]="payment.cvc" required />
                </div>
            </div>

        </div>
        <div class="column is-half">

            <h3 class="title is-4">Billing Address</h3>
            <div class="field">
                <label class="label" for="address1">Line 1</label>
                <div class="control">
                    <input class="input" type="text" id="address1" name="address1" [(ngModel)]="payment.billingAddress.address1" required />
                </div>
            </div>

            <div class="field">
                <label class="label" for="address2">Line 2</label>
                <div class="control">
                    <input class="input" type="text" id="address2" name="address2" [(ngModel)]="payment.billingAddress.address2" required />
                </div>
            </div>

            <div class="field">
                <label class="label" for="postalCode">Post code</label>
                <div class="control">
                    <input class="input" type="text" id="postalCode" name="postalCode" [(ngModel)]="payment.billingAddress.postalCode" required />
                </div>
            </div>

            <div class="field">
                <label class="label" for="state">County</label>
                <div class="control">
                    <input class="input" type="text" id="state" name="state" [(ngModel)]="payment.billingAddress.state" required />
                </div>
            </div>

            <div class="field">
                <label class="label" for="countryCode">Country</label>
                <div class="control">
                    <input class="input"
                    type="text"
                    id="countryCode"
                    name="countryCode"
                    [(ngModel)]="payment.billingAddress.countryCode"
                    required/>
                </div>
            </div>

            <p class="has-text-right">
                <button type="submit" class="button is-primary">Submit</button>
            </p>

        </div></div>

    </form>
