/* You can add global styles to this file, and also import other style files */

body {
    margin: 40px;
    font-family: Helvetica, Arial, 'sans-serif';
    background-color: #fff;
    color: #444;
}

.button {
    padding: 10px;
    border: solid 2px #fff;
    background-color: #fff;
    font-size: 0.8rem;
    text-decoration: none;
    text-transform: uppercase;

    &.primary {
        background-color: #990000;
        color: #fff;

        &:hover {
            border-color: #330000;
        }
    }
}
